In [25]:
# in your notebook cell
import sys

# path relative to your notebook
sys.path.insert(0, '../src')

# import as usual
# autoreload
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [26]:
import os
from dotenv import load_dotenv

load_dotenv()

POSTGRES_PASSWORD = os.getenv('POSTGRES_PASSWORD')
POSTGRES_USER = os.getenv('POSTGRES_USER')
POSTGRES_HOST = os.getenv('POSTGRES_HOST')
POSTGRES_PORT = os.getenv('POSTGRES_PORT')
POSTGRES_DATABASE = os.getenv('POSTGRES_DATABASE')

In [27]:
print(POSTGRES_PASSWORD)

galvanize

In [12]:

import pandas as pd

In [34]:
import psycopg2 as pg2
conn = pg2.connect(
    dbname=POSTGRES_DATABASE,
    user=POSTGRES_USER,
    password=POSTGRES_PASSWORD,
    host=POSTGRES_HOST,
    port=POSTGRES_PORT
)

query = """
select
    concat(p.firstname,' ',p.lastname) as "Name",
    e.emailaddress,
    hr.jobtitle,
    hr.vacationhours
from
    person.person as p
join person.emailaddress as e on
    e.businessentityid = p.businessentityid
join humanresources.employee as hr on
    p.businessentityid = hr.businessentityid
where
    p.persontype in ('SP', 'EM')
    and hr.vacationhours > 40;"""


cur = conn.cursor()

cur.execute(query)

for row in cur:
    print(row)


query_df = pd.read_sql(
    query,
    conn)
display(query_df)

query_df.to_excel(
    "demo.xlsx"
)

('Ken SÃ¡nchez', 'ken0@adventure-works.com', 'Chief Executive Officer', 99)
('Rob Walters', 'rob0@adventure-works.com', 'Senior Tool Designer', 48)
('Dylan Miller', 'dylan0@adventure-works.com', 'Research and Development Manager', 61)
('Diane Margheim', 'diane1@adventure-works.com', 'Research and Development Engineer', 62)
('Gigi Matthew', 'gigi0@adventure-works.com', 'Research and Development Engineer', 63)
('Kevin Brown', 'kevin0@adventure-works.com', 'Marketing Assistant', 42)
('John Wood', 'john5@adventure-works.com', 'Marketing Specialist', 48)
('Mary Dempsey', 'mary2@adventure-works.com', 'Marketing Assistant', 43)
('Wanida Benshoof', 'wanida0@adventure-works.com', 'Marketing Assistant', 41)
('Terry Eminhizer', 'terry0@adventure-works.com', 'Marketing Specialist', 44)
('Sariya Harnpadoungsataya', 'sariya0@adventure-works.com', 'Marketing Specialist', 45)
('Mary Gibson', 'mary0@adventure-works.com', 'Marketing Specialist', 46)
('Jill Williams', 'jill0@adventure-works.com', 'Marketing Specialist', 47)
('James Hamilton', 'james1@adventure-works.com', 'Vice President of Production', 64)
('Peter Krebs', 'peter0@adventure-works.com', 'Production Control Manager', 43)
('Jo Brown', 'jo0@adventure-works.com', 'Production Supervisor - WC60', 80)
('JoLynn Dobney', 'jolynn0@adventure-works.com', 'Production Supervisor - WC60', 82)
('Andrew Hill', 'andrew0@adventure-works.com', 'Production Supervisor - WC10', 65)
('Ruth Ellerbrock', 'ruth0@adventure-works.com', 'Production Technician - WC10', 83)
('Barry Johnson', 'barry0@adventure-works.com', 'Production Technician - WC10', 88)
('Sidney Higa', 'sidney0@adventure-works.com', 'Production Technician - WC10', 84)
('Jeffrey Ford', 'jeffrey0@adventure-works.com', 'Production Technician - WC10', 85)
('Doris Hartwig', 'doris0@adventure-works.com', 'Production Technician - WC10', 86)
('Diane Glimp', 'diane0@adventure-works.com', 'Production Technician - WC10', 87)
('Bonnie Kearney', 'bonnie0@adventure-works.com', 'Production Technician - WC10', 89)
('Taylor Maxwell', 'taylor0@adventure-works.com', 'Production Supervisor - WC50', 79)
('John Campbell', 'john0@adventure-works.com', 'Production Supervisor - WC60', 81)
('Michael Ray', 'michael3@adventure-works.com', 'Production Supervisor - WC30', 70)
('Steven Selikoff', 'steven0@adventure-works.com', 'Production Technician - WC30', 41)
('Carole Poland', 'carole0@adventure-works.com', 'Production Technician - WC30', 42)
('Bjorn Rettig', 'bjorn0@adventure-works.com', 'Production Technician - WC30', 43)
('Michiko Osada', 'michiko0@adventure-works.com', 'Production Technician - WC30', 44)
('Carol Philips', 'carol0@adventure-works.com', 'Production Technician - WC30', 45)
('Merav Netz', 'merav0@adventure-works.com', 'Production Technician - WC30', 46)
("Reuben D'sa", 'reuben0@adventure-works.com', 'Production Supervisor - WC40', 72)
('Eric Brown', 'eric1@adventure-works.com', 'Production Technician - WC40', 60)
('Sandeep Kaliyath', 'sandeep0@adventure-works.com', 'Production Technician - WC40', 65)
('Mihail Frintu', 'mihail0@adventure-works.com', 'Production Technician - WC40', 64)
('Jack Creasey', 'jack1@adventure-works.com', 'Production Technician - WC40', 62)
('Patrick Cook', 'patrick1@adventure-works.com', 'Production Technician - WC40', 61)
('Frank Martinez', 'frank3@adventure-works.com', 'Production Technician - WC40', 66)
('Brian Goldstein', 'brian2@adventure-works.com', 'Production Technician - WC40', 63)
('Ryan Cornelsen', 'ryan0@adventure-works.com', 'Production Technician - WC40', 59)
('Cristian Petculescu', 'cristian0@adventure-works.com', 'Production Supervisor - WC10', 67)
('Betsy Stadick', 'betsy0@adventure-works.com', 'Production Technician - WC10', 99)
('Patrick Wedge', 'patrick0@adventure-works.com', 'Production Technician - WC10', 96)
('Danielle Tiedt', 'danielle0@adventure-works.com', 'Production Technician - WC10', 97)
('Kimberly Zimmerman', 'kimberly0@adventure-works.com', 'Production Technician - WC10', 95)
('Tom Vande Velde', 'tom0@adventure-works.com', 'Production Technician - WC10', 98)
('Kok-Ho Loh', 'kok-ho0@adventure-works.com', 'Production Supervisor - WC50', 78)
('Zheng Mu', 'zheng0@adventure-works.com', 'Production Supervisor - WC10', 66)
('Ebru Ersan', 'ebru0@adventure-works.com', 'Production Technician - WC10', 93)
('Mary Baker', 'mary1@adventure-works.com', 'Production Technician - WC10', 94)
('Kevin Homer', 'kevin2@adventure-works.com', 'Production Technician - WC10', 90)
('John Kane', 'john4@adventure-works.com', 'Production Technician - WC10', 92)
('Christopher Hill', 'christopher0@adventure-works.com', 'Production Technician - WC10', 91)
('Jinghao Liu', 'jinghao0@adventure-works.com', 'Production Supervisor - WC50', 77)
('Alice Ciccu', 'alice0@adventure-works.com', 'Production Technician - WC50', 95)
('Jun Cao', 'jun0@adventure-works.com', 'Production Technician - WC50', 90)
('Suroor Fatima', 'suroor0@adventure-works.com', 'Production Technician - WC50', 93)
('John Evans', 'john1@adventure-works.com', 'Production Technician - WC50', 91)
('Linda Moschell', 'linda0@adventure-works.com', 'Production Technician - WC50', 96)
('Mindaugas Krapauskas', 'mindaugas0@adventure-works.com', 'Production Technician - WC50', 97)
('Angela Barbariol', 'angela0@adventure-works.com', 'Production Technician - WC50', 92)
('Michael Patten', 'michael2@adventure-works.com', 'Production Technician - WC50', 98)
('Chad Niswonger', 'chad0@adventure-works.com', 'Production Technician - WC50', 99)
('Don Hall', 'don0@adventure-works.com', 'Production Technician - WC50', 88)
('Michael Entin', 'michael4@adventure-works.com', 'Production Technician - WC50', 94)
('Kitti Lertpiriyasuwat', 'kitti0@adventure-works.com', 'Production Technician - WC50', 89)
('Pilar Ackerman', 'pilar0@adventure-works.com', 'Shipping and Receiving Supervisor', 93)
('Susan Eaton', 'susan0@adventure-works.com', 'Stocker', 97)
('Vamsi Kuppa', 'vamsi0@adventure-works.com', 'Shipping and Receiving Clerk', 95)
('Kim Ralls', 'kim0@adventure-works.com', 'Stocker', 98)
('Matthias Berndt', 'matthias0@adventure-works.com', 'Shipping and Receiving Clerk', 94)
('Jimmy Bischoff', 'jimmy0@adventure-works.com', 'Stocker', 96)
('David Hamilton', 'david4@adventure-works.com', 'Production Supervisor - WC40', 73)
('Paul Komosinski', 'paul0@adventure-works.com', 'Production Technician - WC40', 68)
('Gary Yukish', 'gary0@adventure-works.com', 'Production Technician - WC40', 69)
('Rob Caron', 'rob1@adventure-works.com', 'Production Technician - WC40', 71)
('Baris Cetinok', 'baris0@adventure-works.com', 'Production Technician - WC40', 72)
('Nicole Holliday', 'nicole0@adventure-works.com', 'Production Technician - WC40', 67)
('Michael Rothkugel', 'michael1@adventure-works.com', 'Production Technician - WC40', 70)
('Cynthia Randall', 'cynthia0@adventure-works.com', 'Production Supervisor - WC30', 69)
('Yuhong Li', 'yuhong0@adventure-works.com', 'Production Supervisor - WC20', 41)
('Jeff Hay', 'jeff0@adventure-works.com', 'Production Supervisor - WC45', 74)
('Kirk Koenigsbauer', 'kirk0@adventure-works.com', 'Production Technician - WC45', 74)
('Laura Steele', 'laura0@adventure-works.com', 'Production Technician - WC45', 75)
('Alex Nayberg', 'alex0@adventure-works.com', 'Production Technician - WC45', 77)
('Andrew Cencini', 'andrew1@adventure-works.com', 'Production Technician - WC45', 73)
('Chris Preston', 'chris0@adventure-works.com', 'Production Technician - WC45', 76)
('Jack Richins', 'jack0@adventure-works.com', 'Production Supervisor - WC30', 68)
('Katie McAskill-White', 'katie0@adventure-works.com', 'Production Supervisor - WC20', 42)
('Shane Kim', 'shane0@adventure-works.com', 'Production Supervisor - WC45', 75)
('Yvonne McKay', 'yvonne0@adventure-works.com', 'Production Technician - WC45', 79)
('Douglas Hite', 'douglas0@adventure-works.com', 'Production Technician - WC45', 80)
('Janeth Esteves', 'janeth0@adventure-works.com', 'Production Technician - WC45', 81)
('Robert Rounthwaite', 'robert0@adventure-works.com', 'Production Technician - WC45', 82)
('Lionel Penuchot', 'lionel0@adventure-works.com', 'Production Technician - WC45', 78)
('Brenda Diaz', 'brenda0@adventure-works.com', 'Production Supervisor - WC40', 71)
('Alejandro McGuel', 'alejandro0@adventure-works.com', 'Production Technician - WC40', 52)
('Fred Northup', 'fred0@adventure-works.com', 'Production Technician - WC40', 47)
('Kevin Liu', 'kevin1@adventure-works.com', 'Production Technician - WC40', 58)
('Shammi Mohamed', 'shammi0@adventure-works.com', 'Production Technician - WC40', 53)
('Rajesh Patel', 'rajesh0@adventure-works.com', 'Production Technician - WC40', 48)
('Lorraine Nay', 'lorraine0@adventure-works.com', 'Production Technician - WC40', 49)
('Paula Nartker', 'paula1@adventure-works.com', 'Production Technician - WC40', 54)
('Frank Lee', 'frank0@adventure-works.com', 'Production Technician - WC40', 56)
('Brian Lloyd', 'brian0@adventure-works.com', 'Production Technician - WC40', 55)
('Tawana Nusbaum', 'tawana0@adventure-works.com', 'Production Technician - WC40', 50)
('Ken Myer', 'ken1@adventure-works.com', 'Production Technician - WC40', 51)
('Gabe Mares', 'gabe0@adventure-works.com', 'Production Technician - WC40', 57)
('Lori Kane', 'lori0@adventure-works.com', 'Production Supervisor - WC45', 76)
('Stuart Munson', 'stuart0@adventure-works.com', 'Production Technician - WC45', 84)
('Greg Alderson', 'greg0@adventure-works.com', 'Production Technician - WC45', 85)
('Scott Gode', 'scott0@adventure-works.com', 'Production Technician - WC45', 86)
('Kathie Flood', 'kathie0@adventure-works.com', 'Production Technician - WC45', 87)
('Belinda Newman', 'belinda0@adventure-works.com', 'Production Technician - WC45', 83)
('Hazem Abolrous', 'hazem0@adventure-works.com', 'Quality Assurance Manager', 80)
('Peng Wu', 'peng0@adventure-works.com', 'Quality Assurance Supervisor', 81)
('Sootha Charncherngkha', 'sootha0@adventure-works.com', 'Quality Assurance Technician', 85)
('Andreas Berglund', 'andreas0@adventure-works.com', 'Quality Assurance Technician', 84)
('Mark Harrington', 'mark0@adventure-works.com', 'Quality Assurance Technician', 83)
('Sean Alexander', 'sean0@adventure-works.com', 'Quality Assurance Technician', 82)
('Zainal Arifin', 'zainal0@adventure-works.com', 'Document Control Manager', 77)
('Tengiz Kharatishvili', 'tengiz0@adventure-works.com', 'Control Specialist', 76)
('Sean Chai', 'sean1@adventure-works.com', 'Document Control Assistant', 78)
('Karen Berge', 'karen0@adventure-works.com', 'Document Control Assistant', 79)
('Chris Norred', 'chris1@adventure-works.com', 'Control Specialist', 75)
('A. Scott Wright', 'ascott0@adventure-works.com', 'Master Scheduler', 44)
('Sairaj Uddin', 'sairaj0@adventure-works.com', 'Scheduling Assistant', 46)
('William Vong', 'william0@adventure-works.com', 'Scheduling Assistant', 45)
('Alan Brewer', 'alan0@adventure-works.com', 'Scheduling Assistant', 47)
('Brian LaMee', 'brian1@adventure-works.com', 'Scheduling Assistant', 48)
('Gary Altman', 'gary1@adventure-works.com', 'Facilities Manager', 86)
('Christian Kleinerman', 'christian0@adventure-works.com', 'Maintenance Supervisor', 92)
('Lori Penor', 'lori1@adventure-works.com', 'Janitor', 90)
('Stuart Macrae', 'stuart1@adventure-works.com', 'Janitor', 88)
('Jo Berry', 'jo1@adventure-works.com', 'Janitor', 91)
('Pat Coleman', 'pat0@adventure-works.com', 'Janitor', 89)
('Magnus Hedlund', 'magnus0@adventure-works.com', 'Facilities Administrative Assistant', 87)
('Paula Barreto de Mattos', 'paula0@adventure-works.com', 'Human Resources Manager', 54)
('Grant Culbertson', 'grant0@adventure-works.com', 'Human Resources Administrative Assistant', 53)
('Hao Chen', 'hao0@adventure-works.com', 'Human Resources Administrative Assistant', 52)
('Vidur Luthra', 'vidur0@adventure-works.com', 'Recruiter', 50)
('Mindy Martin', 'mindy0@adventure-works.com', 'Benefits Specialist', 51)
('Willis Johnson', 'willis0@adventure-works.com', 'Recruiter', 49)
('David Liu', 'david6@adventure-works.com', 'Accounts Manager', 57)
('Deborah Poe', 'deborah0@adventure-works.com', 'Accounts Receivable Specialist', 60)
('Candy Spoon', 'candy0@adventure-works.com', 'Accounts Receivable Specialist', 61)
('Bryan Walton', 'bryan1@adventure-works.com', 'Accounts Receivable Specialist', 62)
('Barbara Moreland', 'barbara1@adventure-works.com', 'Accountant', 58)
('Dragan Tomic', 'dragan0@adventure-works.com', 'Accounts Payable Specialist', 63)
('Janet Sheperdigian', 'janet0@adventure-works.com', 'Accounts Payable Specialist', 64)
('Mike Seamans', 'mike0@adventure-works.com', 'Accountant', 59)
('Wendy Kahn', 'wendy0@adventure-works.com', 'Finance Manager', 55)
('Sheela Word', 'sheela0@adventure-works.com', 'Purchasing Manager', 49)
('Mikael Sandberg', 'mikael0@adventure-works.com', 'Buyer', 59)
('Arvind Rao', 'arvind0@adventure-works.com', 'Buyer', 60)
('Linda Meisner', 'linda2@adventure-works.com', 'Buyer', 56)
('Fukiko Ogisu', 'fukiko0@adventure-works.com', 'Buyer', 57)
('Gordon Hee', 'gordon0@adventure-works.com', 'Buyer', 52)
('Frank Pellow', 'frank2@adventure-works.com', 'Buyer', 58)
('Eric Kurjan', 'eric2@adventure-works.com', 'Buyer', 54)
('Erin Hagens', 'erin0@adventure-works.com', 'Buyer', 53)
('Ben Miller', 'ben0@adventure-works.com', 'Buyer', 55)
('Annette Hill', 'annette0@adventure-works.com', 'Purchasing Assistant', 50)
('Reinout Hillmann', 'reinout0@adventure-works.com', 'Purchasing Assistant', 51)
('David Barber', 'david5@adventure-works.com', 'Assistant to the Chief Financial Officer', 56)
('Jean Trenary', 'jean0@adventure-works.com', 'Information Services Manager', 65)
('Stephanie Conroy', 'stephanie0@adventure-works.com', 'Network Manager', 68)
('Ashvini Sharma', 'ashvini0@adventure-works.com', 'Network Administrator', 70)
('Peter Connelly', 'peter1@adventure-works.com', 'Network Administrator', 69)
('Karen Berg', 'karen1@adventure-works.com', 'Application Specialist', 74)
('Ramesh Meyyappan', 'ramesh0@adventure-works.com', 'Application Specialist', 73)
('Dan Bacon', 'dan0@adventure-works.com', 'Application Specialist', 72)
('FranÃ§ois Ajenstat', 'franÃ§ois0@adventure-works.com', 'Database Administrator', 67)
('Dan Wilson', 'dan1@adventure-works.com', 'Database Administrator', 66)
('Janaina Bueno', 'janaina0@adventure-works.com', 'Application Specialist', 71)

C:\Users\londo\AppData\Local\Temp\ipykernel_27500\2722836771.py:35: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  query_df = pd.read_sql(

,Name,emailaddress,jobtitle,vacationhours
0,Ken SÃ¡nchez,ken0@adventure-works.com,Chief Executive Officer,99
1,Rob Walters,rob0@adventure-works.com,Senior Tool Designer,48
2,Dylan Miller,dylan0@adventure-works.com,Research and Development Manager,61
3,Diane Margheim,diane1@adventure-works.com,Research and Development Engineer,62
4,Gigi Matthew,gigi0@adventure-works.com,Research and Development Engineer,63
...,...,...,...,...
173,Ramesh Meyyappan,ramesh0@adventure-works.com,Application Specialist,73
174,Dan Bacon,dan0@adventure-works.com,Application Specialist,72
175,FranÃ§ois Ajenstat,franÃ§ois0@adventure-works.com,Database Administrator,67
176,Dan Wilson,dan1@adventure-works.com,Database Administrator,66
177,Janaina Bueno,janaina0@adventure-works.com,Application Specialist,71

In [31]:
def convert_sql_to_xlsx(sql_in, xlsx_out, xlsx_name=None):
    """
    Runs query in given .sql file, stores result as .xlsx file.

    Parameters:
        sql_in (str): relative filepath to .sql file
        xlsx_out (str): relative filepath to directory where .xlsx will be stored
        xlsx_name (str or None): If not None, file named xlsx_name.xlsx
                                 If None, file named same as sql_in

    Returns:
        None
    """
    return pd.read_sql(sql_in,con=conn).to_excel(f'{xlsx_out}/{xlsx_name}')

In [32]:
convert_sql_to_xlsx("../data/AdventureWorks.tar", "../data/", "testing")

C:\Users\londo\AppData\Local\Temp\ipykernel_27500\2003036946.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(sql_in,con=conn).to_excel(f'{xlsx_out}/{xlsx_name}')

DatabaseError: Execution failed on sql '../data/AdventureWorks.tar': syntax error at or near ".."
LINE 1: ../data/AdventureWorks.tar
        ^

In [ ]:
import psycopg2
from psycopg2 import OperationalError

def create_connection(db_name, db_user, db_password, db_host, db_port):
    connection = None
    try:
        connection = psycopg2.connect(
            database=db_name,
            user=db_user,
            password=db_password,
            host=db_host,
            port=db_port,
        )
        print("Connection to PostgreSQL DB successful")
    except OperationalError as e:
        print(f"The error '{e}' occurred")
    return connection

In [ ]:
create_connection("adventureworks","postgres",'galvanize','localhost',5555)

Connection to PostgreSQL DB successful

In [3]:
import btm

btm.create_connection()
btm.convert_sql_to_xlsx('hr_q1.sql')

ModuleNotFoundError: No module named 'btm'